<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group"><label>
            First Name:
            <input type="text" formControlName="firstName" required>
        </label></div>

    <div class="form-group"><label>
            Last Name:
            <input type="text" formControlName="lastName">
        </label></div>

    <div class="form-group"><label>
            Email:
            <input type="text" formControlName="email">
        </label></div>

    <br>
    <div formGroupName="address">
        <h3>Address</h3>

        <div class="form-group"><label>
                Street:
                <input type="text" formControlName="street">
            </label></div>

        <div class="form-group"><label>
                City:
                <input type="text" formControlName="city">
            </label></div>

        <div class="form-group"><label>
                State:
                <input type="text" formControlName="state">
            </label></div>

        <div class="form-group"><label>
                Zip Code:
                <input type="text" formControlName="zip">
            </label></div>
    </div>

    <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
</form>