<div class="form_container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <h2 style="text-align: left">Payment Details</h2>
    <hr />
    <br /><br />
    <div class="accepted_cards_wrapper">
      <img class="accepted_cards_img" src="assets/img/credit-cards-accepted-logo.jpeg" alt="">
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-label>Card Number</mat-label>
        <input
          matInput
          placeholder="Card Number"
          formControlName="card_number"
        />
      </mat-form-field>
    </div>

    <!-- todo: make into two underlined fields instead of one -->
    <div class="full-width two-fields-container">
      <div>
        <div class="standalone_label_container">
          <mat-label class="standalone_label">
            <small>
              Expiration
            </small>
          </mat-label>
        </div>
        <div class="flex_inputs_wrapper">
          <mat-form-field class="input_container">
            <input matInput placeholder="MM" formControlName="exp_month" />
          </mat-form-field>
          <mat-form-field class="input_container">
            <input matInput placeholder="YYYY" formControlName="exp_year" />
          </mat-form-field>
        </div>
      </div>

      <div>
        <div class="standalone_label_container">
          <mat-label class="standalone_label">
            <small>
              3-Digit Code
            </small>
          </mat-label>
        </div>
      <mat-form-field class="">
        <mat-label>CVV</mat-label>
        <input matInput placeholder="" formControlName="cvv" />
      </mat-form-field>
      </div>
    </div>

    <h2 style="text-align: left">Billing Details</h2>
    <hr />
    <br /><br />
    <div class="full-width two-fields-container">
      <mat-form-field class="">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>
    </div>

    <div class="full-width two-fields-container">
      <mat-form-field class="">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" (selectionChange)="countryChange('country')">
          <mat-option *ngFor="let country of locationService.getCountries()" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of currentStates" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="full-width two-fields-container">
      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address" />
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Zip Code</mat-label>
      <input matInput placeholder="Zip Code" formControlName="zip" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>

    <br>
    <div style="text-align: left;">
      <mat-checkbox class="checkbox_input" [(ngModel)]="sameShippingAndBillingAddress"
      [ngModelOptions]="{standalone: true}">Shipping Address is the same as the Billing Address</mat-checkbox>
    </div>

    <div *ngIf="!sameShippingAndBillingAddress" id="shipping_address_wrapper">
      <br><br><br>
      <h2 style="text-align: left">Shipping Address</h2>
      <hr />
      <br /><br />
      <div class="full-width two-fields-container">
        <mat-form-field class="">
          <mat-label>Country</mat-label>
          <mat-select formControlName="shipping_country" (selectionChange)="countryChange('shipping_country')">
            <mat-option *ngFor="let country of locationService.getCountries()" [value]="country">
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>State</mat-label>
          <mat-select formControlName="shipping_state">
            <mat-option *ngFor="let state of currentStates" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="full-width two-fields-container">
        <mat-form-field class="full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="shipping_city" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="shipping_address" />
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Zip Code" formControlName="shipping_zip" />
      </mat-form-field>

    </div>
    <button mat-raised-button type="submit" color="primary">Proceed to Payment</button
    ><br />
  </form>
</div>
<div class="summary_container">
  <h2>Cart Summary</h2>
  <div class="subtotals">
    <div class="flex_div">
      <span>Subtotal</span>
      <span>${{cartService.subtotal}}</span>
    </div>
    <div class="flex_div">
      <span>Shipping</span>
      <span>${{cartService.shipping}}</span>
    </div>
  </div>
  <hr>
  <div class="totals">
    <div class="flex_div">
      <span><strong>Total</strong></span>
      <span><h2 style="margin: 0">${{cartService.total}}</h2></span>
    </div>
  </div>
</div>

