:host {
  display: flex;
  flex: 1;
  .form_container {
    flex: 3;
    margin-right: 20px;
    border: 1px dotted;
    background: white;
  }
  .summary_container {
    background: white;
    flex: 1;
    margin-left: 20px;
    border: 1px dotted;
    padding-left: 15px;
    padding-right: 15px;

    .subtotals {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .totals {
      margin-top: 20px;
    }

    .flex_div {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    .checkout_container {
      margin: 30px 0;

      button {
        width: 100%;
      }
    }
  }
}

label, input, button {
  display: block;
}
.full-width {
  width: 100%;
}
.two-fields-container {
  display: flex;
  margin: 0 auto;
  &>* {
    flex: 1;
  }
  &>*:not(:last-child) {
    margin-right: 15px;
  }
  &>*:not(:first-child) {
    margin-left: 15px;
  }
}
form {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  .checkbox_input {
    margin-left: 0;
  }
  .accepted_cards_wrapper {
    .accepted_cards_img {
      width: 10rem;
    }
  }
  .standalone_label_container {
    text-align: left;
    .standalone_label {
      margin: 0;
      color: rgba(0,0,0,.54);
      font-size: 14px;
    }
  }
  .flex_inputs_wrapper {
    display: flex;
    .input_container {
      flex: 1;
    }
    .input_container:first-of-type {
      margin-right: 10px;
    }
    .input_container:last-of-type {
      margin-left: 10px;
    }
  }
}
