<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Current Password</mat-label>
    <input matInput placeholder="Current Password" formControlName="currentPassword" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="New Password" formControlName="newPassword" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Retype Password</mat-label>
    <input matInput placeholder="Retype Password" formControlName="retypePassword" required>
  </mat-form-field>
  <!-- [disabled]="!changePasswordForm.valid" -->
  <button mat-raised-button color="primary" type="submit">Update</button>
</form>
