<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows">

      <ng-container [ngSwitch]="tile.name">
        <div class="item_details_container" *ngSwitchCase="'Details'">
          <mat-card *ngIf="item">
            <img mat-card-image [src]="item.imageUrl" alt="{{item.imageFileName}}">
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
            <mat-card-footer>
              <div mat-card-avatar class="example-footer-image"></div>
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
            </mat-card-footer>
            <mat-card-actions class="item_card_actions">
              <button mat-rasied-button>Add to Cart</button>
              <button mat-rasied-button>Share</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div *ngSwitchCase="'Info'">
          <p>
            {{item?.longDescription}}
          </p>
        </div>
        <div id="recommended-div" *ngSwitchCase="'Recommended'">
          <mat-list class="featured-list" role="list">
            <mat-list-item *ngFor="let item of featuredItems" role="listitem"
            class="featured-li">
              <a class="featured-item-wrapper" routerLink="/items/{{item._id}}">
                <div>
                  <img src="{{item.imageUrl}}" alt="">
                </div>
                <div>
                  {{item.name}}
                </div>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </ng-container>

  </mat-grid-tile>
</mat-grid-list>
