<div class="container">
  <div class="left_container">
    <div *ngIf="item"class="item_main_info_container">
      <div class="images_container">
        <img class="main_img" [src]="item.imageUrls.length > 0 ? item.imageUrls[0] : ''" alt="{{item.imageUrls.length > 0 ? item.imageUrls[0] : ''}}">
        <div class="bottom_image_icons_wrapper">
          <div class="bottom_image_icon_wrapper" *ngFor="let imageUrl of additionalImageUrls">
            <img class="bottom_image_icon" [src]="imageUrl" alt="{{imageUrl}}">
          </div>
        </div>
      </div>
      <div class="short_info_container">
        <h3>{{item.name}}</h3>
        <!-- AddToAny BEGIN -->
        <a class="a2a_dd" href="https://www.addtoany.com/share"><img src="https://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"></a>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
        <hr>
        <p>
          {{item.description}}
        </p>
        <h5>$ {{item.price}}</h5>

        <!-- <form [formGroup]="itemForm" (ngSubmit)="onSubmit()"> -->

          <button (click)="addToCart()" mat-rasied-button>Add to Cart</button>
        <!-- </form> -->
      </div>
    </div>
    <div class="item_detailed_info_container">
      <p>
        {{item?.longDescription}}
      </p>
    </div>
  </div>

  <div id="recommended-div">
    <div *ngFor="let item of featuredItems"
    class="featured_li">
      <div class="featured_img_wrapper">
        <a class="featured_item_link" routerLink="/items/{{item._id}}">
          <img src="{{item.imageUrls.length > 0 ? item.imageUrls[0] : ''}}" alt="">
        </a>
      </div>
      <div>
        <a class="featured_item_link" routerLink="/items/{{item._id}}">
          {{item.name}}
        </a>
      </div>
    </div>
  </div>
</div>
