:host {
  width: 80rem;
}
.mat-grid-tile {
  border: 1px solid;
}
.featured-li {

}

.featured-item-link {
  // border: 1px solid;
  // width: fit-content;
  // min-height: 50px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.featured-item-wrapper {
  border: 1px solid #f2f2f2;
  margin: 10px auto;
  width: 80%;
  padding: 15px;
}

.featured-list {
  flex-grow: 1;
  overflow: auto;
  height: auto;
  // box-sizing: border-box;
  max-height: 210px;
  // display: block;
}

#recommended-div {
  width: 100%;
}

.item_details_container {
  height: 100%;
  width: 100%;
  text-align: center;
  // margin: 20px;
}
.item_details_container > * {
  padding: 1rem;

}
.item_card_actions {
  // * {
  //   border: 1px solid;
  // }
  // &>* {
    // margin-right: 10px;
  //   border: 1px solid;
  // }
}
