:host {
  width: 80rem;
}

.container {
  display: flex;

  .left_container {
    flex: 4;

    .item_main_info_container {
      display: flex;

      .images_container {
        flex: 1;
        .main_img {
          width: 100%;
        }
        .bottom_image_icon_wrapper {
          display: inline-block;
          cursor: pointer;
          border: 1px solid;
          margin: 5px;
          &:hover {
            border: 2px solid red;
          }
          & > img {
            height: 50px;
            width: auto;
          }
        }
      }

      .short_info_container {
        flex: 1;
      }

      // .share {
      //   padding: 0;
      //   background: transparent;
      //   border: none;
      //   cursor: pointer;
      // }

      & > * {
        padding: 1rem;
      }
    }
  }

  #recommended-div {
    flex: 1;
    // height: 100%;
    width: 100%;
    text-align: center;
    height: 27.5rem;
    overflow: auto;

    .featured_img_wrapper img {
      width: 100%;
    }

    .featured_li {
      // border: 1px dotted;
      padding: 0 20px;
    }
  }
}
