:host {
  width: 80rem;
}
.item_details_container {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 20px;
}
.item_details_container > * {
  padding: 1rem;
}
.item_card_actions {
  &>* {
    margin-right: 10px;
  }
}
