<div class="items_container" [style.background-color]="!positions.length ? 'white' : ''"
[style.border]="!positions.length ? '1px dotted' : ''" [style.display]="!positions.length ? 'flex' : ''" [style.align-items]="!positions.length ? 'center' : ''" [style.text-align]="!positions.length ? 'center' : ''">
  <h3 [style.display]="!positions.length ? 'block' : 'none'" style="text-align: center; margin: 0 auto">No Items</h3>
  <div class="item" *ngFor="let position of positions">
    <div class="image_container flex_container">
      <a routerLink="/items/{{position.item?._id}}">
        <img
          class="item_img"
          [src]="
            position.item?.imageUrls.length > 0 ? position.item.imageUrls[0] : ''
          "
          alt="{{
            position.item?.imageUrls.length > 0 ? position.item.imageUrls[0] : ''
          }}"
        />
      </a>
    </div>
    <div class="short_info_container flex_container">
      <p>
        <a routerLink="/items/{{position.item?._id}}"><strong>{{ position.item?.name }}</strong></a>
      </p>
      <p>position._id: {{position._id}}</p>
      <p>
        <small style="white-space: nowrap; text-overflow: ellipsis; font-size: 13px;">{{ position.item?.description }}</small>
      </p>
      <p>
        <strong><small>Quantity:
          <input type="number" min="1" class="quantity-input" name="quantity" value="{{position?.quantity}}"
            #quantity (change)="quantityChange(position, quantity.value)">
        </small></strong>
      </p>
      <p>
        <mat-error *ngIf="error">{{ error }}</mat-error>
      </p>
      <h5>$ {{ position.item?.price }}</h5>
    </div>
    <div class="actions_container flex_container">
      <button (click)="removeFromCart(position)" mat-mini-fab color="warn" type="button" id="delete_btn">
        <img class="delete_icon" src="assets/img/delete.svg" alt="delete" />
      </button>
    </div>
  </div>
</div>

<div class="summary_container">
  <h2>Cart Summary</h2>
  <div class="subtotals">
    <div class="flex_div">
      <span>Subtotal</span>
      <span>40</span>
    </div>
    <div class="flex_div">
      <span>Shipping</span>
      <span>50</span>
    </div>
  </div>
  <hr>
  <div class="totals">
    <div class="flex_div">
      <span><strong>Total</strong></span>
      <span><h2 style="margin: 0">50</h2></span>
    </div>
  </div>
  <div class="checkout_container">
    <button (click)="checkout()" color="warn" mat-raised-button>Check Out</button>
  </div>
</div>
