<form [formGroup]="itemForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Real Price</mat-label>
    <input matInput placeholder="Real Price" formControlName="realPrice">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" formControlName="price">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Count</mat-label>
    <input matInput placeholder="Count" formControlName="count" required>
  </mat-form-field>

  <mat-checkbox class="example-margin" formControlName="featured">Featured</mat-checkbox>

  <!-- todo: adjust properly shipping option fields -->
  <div formArrayName="shippingOptions">
    <div *ngFor="let shippingOption of shippingOptions; let i = index"
    class="shipping_container" [formGroupName]="i">
      <h3>Shipping</h3>
      <div formArrayName="shipsFrom">
        <div *ngFor="let shipsFromRow of shipsFrom(shippingOption, i); let j=index">
          <mat-form-field class="full-width">
            <mat-label>Ships From</mat-label>
            <input matInput placeholder="Country" formControlName="country" required>
            <input matInput placeholder="City" formControlName="city" required>
          </mat-form-field>
        </div>
      </div>
      <div formArrayName="canShipTo">
        <div *ngFor="let canShipToRow of canShipTo(shippingOption, i); let j=index">
          <mat-form-field class="full-width">
            <mat-label>Can Ship To</mat-label>
            <input matInput placeholder="Country" formControlName="country" required>
            <input matInput placeholder="City" formControlName="city" required>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Estimated Delivery Days</mat-label>
        <input matInput placeholder="Estimated Delivery Days" formControlName="estimatedDeliveryDays" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Shipping Cost</mat-label>
        <input matInput placeholder="Shipping Cost" formControlName="shippingCost" required>
      </mat-form-field>
    </div>
  </div>
  <!-- interface ItemShipping {
    shipsFrom: ShippingPlace[];
    canShipTo: ShippingPlace[];
    estimatedDeliveryDays: number;
    shippingCost: number;
  }

  interface ShippingPlace {
    country: string;
    city: string;
  } -->

  <div>
    <div class="image_wrapper" *ngFor="let imageUrl of imageUrls">
      <img class="img_thumbnail" src="{{imageUrl}}" alt="{{imageUrl}}">
      <button (click)="onImgDelete(imageUrl)" type="button" id="delete_btn">
        <img class="delete_icon" src="assets/img/delete.svg" alt="delete">
      </button>
    </div>
  </div>

  <app-uploader [imageUrls]="imageUrls"></app-uploader>

  <button mat-raised-button color="primary" type="submit">Save</button>
  <button *ngIf="!isAddMode" mat-raised-button color="warn"
  (click)="onDelete()"
  type="button" class="delete_btn">Delete</button>
</form>
