<form [formGroup]="itemForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Real Price</mat-label>
    <input matInput placeholder="Real Price" formControlName="realPrice">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" formControlName="price">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Count</mat-label>
    <input matInput placeholder="Count" formControlName="count" required>
  </mat-form-field>

  <button type="button" (click)="fileInput.click()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">library_add</mat-icon>
    <span>Select</span>
    <input #fileInput type="file" multiple (change)="handleImageInput($event.target.files)" style="display:none;" />
  </button>
  <div *ngFor="let image of imagesToUpload">{{image.name}}</div>

  <mat-form-field class="full-width">
    <mat-label>Image File Name</mat-label>
    <input matInput placeholder="Image File Name" formControlName="imageFileName">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
  <button *ngIf="!isAddMode" mat-raised-button color="warn"
  (click)="onDelete()"
  type="button" class="delete_btn">Delete</button>
</form>
