:host {
  width: 80rem;
}
.cards_container {
  width: 100%;
  display: grid;
	grid-template-columns: repeat(auto-fill,minmax(22%, 1fr));
}
.item_card {
  margin: 1.1rem;
  text-align: center;
}

.mat-card-title {
  margin-bottom: 12px;
  font-size: 18px;
}

.mat-card-image {
  margin-bottom: 12px;
  height: 12rem;
  width: auto;
}
